.App{
background-color: aqua;
  
}
*{
  margin: 0;
  padding: 0;
  
  
  
}
.picPostion{
  margin-top: 10px;
}
.avatar{
  background-color:whitesmoke;
  height: 100vh;
}
h1{ 
  height:50px;
  
}

hr{
  width:70%;
  
}
.dash-order{
  padding-top: 30px;
  padding-left: 30px;
}
.dash-order>p{
  color: blueviolet;
}

.left{
  float: left;
  width: 15%;
  
}
.right{
  float: right;
  width: 85%;
  height: 15vh;
  
}
TableRow{
  background-color:aqua ;
}
label{
 
  font-size: small;
}

.link{


padding-left: 70%;
width: 100%;
  

}
.link>a{
  color: white;
  text-decoration: none;
  float: left;
  
 }
 .Table{
  border:20px solid white;

 }

.appstyle{
  margin-left: 20px;
  margin-top: 2px;
  
}